html,
body {
  /* position: relative; */
  height: 100%;
  scroll-behavior: smooth;
}

body {
  /* min-height: 100%;
  margin: 0;
  padding: 0; */
}

body {
  background: url(../../images/BGwhite.jpg) center;
  background-size: stretch;
}

.navbar-item-custom,
.navbar-item-custom a {
  color: #fff;
}

.footer-merch {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* width: 100%; */
  /* position: fixed; */
  background-color: lightgray;
  margin-top: 1em;
  /* height: 20vh; */
  margin: 0 3em;
  padding-top: 2em;
}

.merch {
  align-items: center;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}
.desc-merch {
  text-transform: uppercase;
  font-size: small;
  letter-spacing: 0.2em;
  font-weight: bold;
}

.footer-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  /* position: fixed; */
  background-color: #2e2e2e;
  margin-top: 1em;
  height: 15vh;
  margin: 0 3em;
}

.product-item h5 {
  text-transform: uppercase;
  font-size: 1em;
  padding-bottom: 0.5em;
}

.product-item {
  padding-top: 2em;
}

.product-item .product-subtitle {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.product-item .product-price {
  font-size: 0.9em;
  font-weight: bold;
}

.product-container {
  padding: 3em 0;
}

.product-page-price {
  font-size: 1.4em;
}

.img-cart {
  height: 75px;
}

/* .btn {
  padding: 1em;
} */

.fa-shopping-cart {
  color: #fff;
}

.fa-minus,
.fa-plus,
.fa-trash-alt {
  color: #000;
}

.fa-trash-alt:hover {
  color: red;
  transition: 0.2s;
}
.fa-plus:hover {
  color: green;
  transition: 0.2s;
}
.fa-minus:hover {
  color: red;
  transition: 0.2s;
}

.block-small {
  max-width: 40rem;
  margin: 0 auto;
}

.form-check {
  background-color: #dfeaff;
  padding: 1em 3em;
  margin-top: 0.5em;
  border-radius: 10px;
}

.col-form-label {
  font-weight: bold;
  padding: 0;
}

.order-summary {
  background-color: #dfeaff;
  padding: 1em;
  margin-top: 0.5em;
}

.account-item {
  background-color: #f1f2f6;
  padding: 4em;
  transition: all 0.3s ease-in 0s;
  border-radius: 20px;
}

.account-item a {
  color: #4b6584;
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
}

.account-item:hover {
  background-color: #afb0b3;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.img-anim {
  transition: all 600ms ease;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
}

.img-anim:hover {
  transform: scale(0.95);
}

/* SCROLL TO TOP */

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #777777;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #2e2e2e;
}
.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}

/* MEDIA QUERIES */

@media (max-width: 425px) {
  .card-account {
    margin-bottom: 1em;
  }
  .footer-custom {
    margin: 0;
  }
  .footer-merch {
    display: none;
  }
}
