{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous{% endblock %}

{% block content %}
    <h2 class="mb-5">Qui sommes-nous ?</h2>

    contenu branding à créer
    

<div class="row">

</div>

{% endblock %}